body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #deaca9;
}

header, footer {
    margin-bottom: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background-color: #f2f0df; 
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #fff; /* White border around photo */
}

footer {
    text-align: center;
    margin-top: 20px;
    
    color: #5c5459;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 30px; /* Adjust as needed */
    border-radius: 5px; /* Rounded corners for footer */
}

.social-media i {
    font-size: 24px;
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    color: black;
}

.social-media a:hover {
    color: #2a2aa8;
}
h1 {
    color: #c1a5d1; 
}
/* Add this to your existing styles.css file */
h2{
color:#1d3591;
}
h3{
color:#3a7e85;
}
/* Add this CSS to create an invisible box for academic projects */

table tr:first-child {
    background-color: #9ea3b5;
}







